@font-face {
  font-family: "Archia";
  src: url("../fonts/archia-light-webfont.eot");
  src: url("../fonts/archia-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/archia-light-webfont.woff2") format("woff2"),
    url("../fonts/archia-light-webfont.woff") format("woff"),
    url("../fonts/archia-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Archia";
  src: url("../fonts/archia-regular-webfont.eot");
  src: url("../fonts/archia-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/archia-regular-webfont.woff2") format("woff2"),
    url("../fonts/archia-regular-webfont.woff") format("woff"),
    url("../fonts/archia-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Archia";
  src: url("../fonts/archia-semibold-webfont.eot");
  src: url("../fonts/archia-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/archia-semibold-webfont.woff2") format("woff2"),
    url("../fonts/archia-semibold-webfont.woff") format("woff"),
    url("../fonts/archia-semibold-webfont.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
